* {
  padding: 0;
  margin: 0;
}

html,
body,
section {
  width: 100%;
  height: 100%;
}

.contenedor {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

div {
  width: 60%;
}


@media (min-width: 769px) {
  .paisaje {
    background: url("../img/Landscape.jpg");
    background-size: cover;
  }
  div {
    content: url("../img/kitten-medium.png")
  }
}

@media (min-width:418px) and (max-width: 768px) {
  .paisaje {
    background: url("../img/dawn.png");
    background-size: cover;
  }
  div {
    content: url("../img/kitten-medium.png")
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .paisaje {
    background: url("../img/dawn.png");
    background-size: cover;
  }
  div {
    content: url("../img/kitten-large.png");
    width: 80%;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .paisaje {
    background: url("../img/maxresdefault.jpg");
    background-size: cover;
  }
  div {
    content: url("../img/kitten-small.png")
  }
}
